In [1]:
import pandas as pd
from sqlalchemy import *

db_path = 'postgresql://llmchqfhvdwpop:8f6b6899b24221c36bc979822c407c31bd099e3259c5d4f6682d63d993276d3f@ec2-34-230-167-186.compute-1.amazonaws.com:5432/dcoppvn70vslf9'
db_path = 'postgresql://anniezheng@localhost/test2'

eng = create_engine(db_path)

In [2]:
pd.read_sql('''select * from "Survey";''',eng)

   id                             survey_id
0   1  500317f2-3c88-43ce-a8d0-f9db769cdbd4

In [7]:
pd.read_sql('''select * from "Annotation";''',eng).head(10)

,id,survey_id,recording_id,user_note,practice_round
0,1,500317f2-3c88-43ce-a8d0-f9db769cdbd4,2,,True
1,2,500317f2-3c88-43ce-a8d0-f9db769cdbd4,3,,True
2,3,500317f2-3c88-43ce-a8d0-f9db769cdbd4,49,,True
3,4,500317f2-3c88-43ce-a8d0-f9db769cdbd4,3,,True
4,5,500317f2-3c88-43ce-a8d0-f9db769cdbd4,39,,True
5,6,500317f2-3c88-43ce-a8d0-f9db769cdbd4,9,,True
6,7,500317f2-3c88-43ce-a8d0-f9db769cdbd4,39,,True
7,8,500317f2-3c88-43ce-a8d0-f9db769cdbd4,2,,False
8,9,500317f2-3c88-43ce-a8d0-f9db769cdbd4,3,,False
9,10,500317f2-3c88-43ce-a8d0-f9db769cdbd4,49,,False

In [9]:
pd.read_sql('''select * from "Location";''',eng).head(10)

   id annotation_id  azimuth  elevation  practice_round
0   1             1      271          2            True
1   2             2      268          3            True
2   3             3      177          2            True
3   4             4      269          4            True
4   5             5      169          2            True
5   6             6      155          9            True
6   7             7       85         -1            True
7   8             8      172          8           False
8   9             9      177          6           False
9  10            10      271          1           False

In [10]:
pd.read_sql('''select * from "Recording" order by group_id asc''',eng)

,file_name,recording_id,group_id,user_num_annotation,group_num_annotation
0,gaussian_rec_26_azimuth_150_elevation_0.wav,26,1,0,0
1,gaussian_rec_21_azimuth_120_elevation_-45.wav,21,1,0,0
2,gaussian_rec_55_azimuth_330_elevation_30.wav,55,1,0,0
3,gaussian_rec_33_azimuth_180_elevation_15.wav,33,1,0,0
4,gaussian_rec_47_azimuth_270_elevation_30.wav,47,1,0,0
5,gaussian_rec_34_azimuth_180_elevation_30.wav,34,1,0,0
6,gaussian_rec_7_azimuth_0_elevation_60.wav,7,1,0,0
7,gaussian_rec_29_azimuth_180_elevation_-45.wav,29,2,4,0
8,gaussian_rec_46_azimuth_270_elevation_0.wav,46,2,4,0
9,gaussian_rec_1_azimuth_0_elevation_-30.wav,1,2,4,0
10,gaussian_rec_45_azimuth_270_elevation_-15.wav,45,2,4,0
11,gaussian_rec_41_azimuth_240_elevation_0.wav,41,2,4,0
12,gaussian_rec_14_azimuth_60_elevation_-15.wav,14,2,4,0
13,gaussian_rec_0_azimuth_0_elevation_-45.wav,0,2,4,0
14,gaussian_rec_19_azimuth_90_elevation_15.wav,19,3,0,0
15,gaussian_rec_30_azimuth_180_elevation_-30.wav,30,3,0,0
16,gaussian_rec_17_azimuth_90_elevation_-30.wav,17,3,0,0
17,gaussian_rec_20_azimuth_90_elevation_45.wav,20,3,0,0
18,gaussian_rec_52_azimuth_330_elevation_-45.wav,52,3,0,0
19,gaussian_rec_37_azimuth_210_elevation_-15.wav,37,3,0,0
20,gaussian_rec_10_azimuth_30_elevation_0.wav,10,3,0,0
21,gaussian_rec_4_azimuth_0_elevation_15.wav,4,4,0,1
22,gaussian_rec_31_azimuth_180_elevation_-15.wav,31,4,0,1
23,gaussian_rec_5_azimuth_0_elevation_30.wav,5,4,0,1
24,gaussian_rec_38_azimuth_210_elevation_0.wav,38,4,0,1
25,gaussian_rec_15_azimuth_60_elevation_0.wav,15,4,0,1
26,gaussian_rec_36_azimuth_210_elevation_-45.wav,36,4,0,1
27,gaussian_rec_6_azimuth_0_elevation_45.wav,6,4,0,1
28,gaussian_rec_16_azimuth_60_elevation_30.wav,16,5,0,0
29,gaussian_rec_51_azimuth_300_elevation_45.wav,51,5,0,0
30,gaussian_rec_12_azimuth_30_elevation_45.wav,12,5,0,0
31,gaussian_rec_8_azimuth_0_elevation_75.wav,8,5,0,0
32,gaussian_rec_43_azimuth_240_elevation_45.wav,43,5,0,0
33,gaussian_rec_28_azimuth_150_elevation_45.wav,28,5,0,0
34,gaussian_rec_23_azimuth_120_elevation_0.wav,23,5,0,0
35,gaussian_rec_54_azimuth_330_elevation_0.wav,54,6,0,2
36,gaussian_rec_13_azimuth_60_elevation_-45.wav,13,6,0,2
37,gaussian_rec_53_azimuth_330_elevation_-15.wav,53,6,0,2
38,gaussian_rec_42_azimuth_240_elevation_15.wav,42,6,0,2
39,gaussian_rec_22_azimuth_120_elevation_-15.wav,22,6,0,2
40,gaussian_rec_32_azimuth_180_elevation_0.wav,32,6,0,2
41,gaussian_rec_24_azimuth_120_elevation_30.wav,24,6,1,2
42,gaussian_rec_39_azimuth_210_elevation_30.wav,39,7,0,0
43,gaussian_rec_18_azimuth_90_elevation_0.wav,18,7,0,0
44,gaussian_rec_9_azimuth_30_elevation_-30.wav,9,7,0,0
45,gaussian_rec_49_azimuth_300_elevation_0.wav,49,7,0,0
46,gaussian_rec_48_azimuth_300_elevation_-30.wav,48,7,0,0
47,gaussian_rec_2_azimuth_0_elevation_-15.wav,2,7,0,0
48,gaussian_rec_3_azimuth_0_elevation_0.wav,3,7,0,0
49,gaussian_rec_25_azimuth_150_elevation_-30.wav,25,8,4,1
50,gaussian_rec_40_azimuth_240_elevation_-30.wav,40,8,4,1
51,gaussian_rec_50_azimuth_300_elevation_15.wav,50,8,4,1
52,gaussian_rec_27_azimuth_150_elevation_15.wav,27,8,0,1
53,gaussian_rec_35_azimuth_180_elevation_45.wav,35,8,4,1
54,gaussian_rec_44_azimuth_270_elevation_-45.wav,44,8,4,1
55,gaussian_rec_11_azimuth_30_elevation_15.wav,11,8,4,1

In [ ]:
pd.read_sql('''select * from "Recording"''',eng)

In [35]:
pd.read_sql('''select * from "Interaction";''',eng).head(10)

   id annotation_id action_type value               timestamp
0   1             1  play audio  None 2022-02-02 16:18:39.507
1   2             1     azimuth   269 2022-02-02 16:18:40.835
2   3             1   elevation     4 2022-02-02 16:18:41.460
3   4             1      submit  None 2022-02-02 16:18:42.223
4   5             2  play audio  None 2022-02-02 16:18:42.957
5   6             2     azimuth    92 2022-02-02 16:18:44.576
6   7             2   elevation    -3 2022-02-02 16:18:45.277
7   8             2      submit  None 2022-02-02 16:18:45.890
8   9             3  play audio  None 2022-02-02 16:18:46.574
9  10             3     azimuth   179 2022-02-02 16:18:48.810