In [11]:
import pandas as pd
from sqlalchemy import *

db_path = 'postgresql://llmchqfhvdwpop:8f6b6899b24221c36bc979822c407c31bd099e3259c5d4f6682d63d993276d3f@ec2-34-230-167-186.compute-1.amazonaws.com:5432/dcoppvn70vslf9'
eng = create_engine(db_path)

In [12]:
pd.read_sql('''select * from "Survey";''',eng).head(10)

   id                             survey_id
0   1  94069ed4-62fa-451b-ae87-fd1cb5ea109f
1   2  c3ac469c-07ee-482a-8da7-a192e65bdc99

In [13]:
pd.read_sql('''select * from "Annotation";''',eng).head(10)

,id,survey_id,recording_id,user_note
0,1,94069ed4-62fa-451b-ae87-fd1cb5ea109f,43,people talking
1,2,94069ed4-62fa-451b-ae87-fd1cb5ea109f,44,
2,3,94069ed4-62fa-451b-ae87-fd1cb5ea109f,45,
3,4,94069ed4-62fa-451b-ae87-fd1cb5ea109f,46,
4,5,94069ed4-62fa-451b-ae87-fd1cb5ea109f,47,
5,6,94069ed4-62fa-451b-ae87-fd1cb5ea109f,48,
6,7,94069ed4-62fa-451b-ae87-fd1cb5ea109f,49,
7,8,c3ac469c-07ee-482a-8da7-a192e65bdc99,36,keys
8,9,c3ac469c-07ee-482a-8da7-a192e65bdc99,37,keys and keys
9,10,c3ac469c-07ee-482a-8da7-a192e65bdc99,38,keys and keys and keys

In [14]:
pd.read_sql('''select * from "Recording";''',eng).head(10)

   id        recording_name file_name  num_annotation  group_id
0   1   airplane_2_norm.wav    0a.wav               0         0
1   2    boiling_1_norm.wav    0b.wav               0         0
2   3  car_alarm_1_norm.wav    0c.wav               0         0
3   4        cat_1_norm.wav    0d.wav               0         0
4   5        cat_2_norm.wav    0e.wav               0         0
5   6        cat_3_norm.wav    0f.wav               0         0
6   7        cat_4_norm.wav    0g.wav               0         0
7   8        cat_5_norm.wav    1a.wav               0         1
8   9      cello_1_norm.wav    1b.wav               0         1
9  10      cello_2_norm.wav    1c.wav               0         1

In [15]:
pd.read_sql('''select * from "Location";''',eng).head(10)

   id annotation_id  azimuth  elevation
0   1             1       94          2
1   2             2       70         40
2   3             3       65         38
3   4             4       68         53
4   5             5       86         26
5   6             6       74          8
6   7             7       80         24
7   8             8       89          1
8   9             9       84         21
9  10            10       89          7

In [16]:
pd.read_sql('''select * from "Interaction";''',eng).head(10)

   id annotation_id action_type value               timestamp
0   1             1  play audio  None 2022-02-02 08:54:24.016
1   2             1     azimuth    94 2022-02-02 08:54:50.521
2   3             1   elevation     2 2022-02-02 08:54:51.503
3   4             1      submit  None 2022-02-02 08:54:52.348
4   5             2  play audio  None 2022-02-02 08:54:53.181
5   6             2     azimuth    70 2022-02-02 08:55:47.684
6   7             2   elevation    40 2022-02-02 08:55:48.332
7   8             2      submit  None 2022-02-02 08:55:49.327
8   9             3  play audio  None 2022-02-02 08:55:50.093
9  10             3     azimuth    65 2022-02-02 08:56:01.447