In [15]:
import pandas as pd
from sqlalchemy import *

db_path = 'postgresql://llmchqfhvdwpop:8f6b6899b24221c36bc979822c407c31bd099e3259c5d4f6682d63d993276d3f@ec2-34-230-167-186.compute-1.amazonaws.com:5432/dcoppvn70vslf9'
pd.options.display.max_rows = 999

eng = create_engine(db_path)

In [18]:
pd.read_sql('''select * from "Survey";''',eng)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "Survey" does not exist
LINE 1: select * from "Survey";
                      ^

[SQL: select * from "Survey";]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [10]:
pd.read_sql('''select * from "Annotation" where survey_id = '6d6871a6-12af-45ea-a90d-86ce72edbd16' order by id desc;''',eng)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "Annotation" does not exist
LINE 1: select * from "Annotation" where survey_id = '6d6871a6-12af-...
                      ^

[SQL: select * from "Annotation" where survey_id = '6d6871a6-12af-45ea-a90d-86ce72edbd16' order by id desc;]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [16]:
pd.read_sql('''select * from "Interaction" order by id desc;''',eng).head(200)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "Interaction" does not exist
LINE 1: select * from "Interaction" order by id desc;
                      ^

[SQL: select * from "Interaction" order by id desc;]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [25]:
pd.read_sql('''select * from "Location" order by id desc;''',eng).head(100)

     id annotation_id  azimuth  elevation practice_round
0   235           235       61          2          False
1   234           234       85          6          False
2   233           233      271         -2          False
3   232           232      299          7          False
4   231           231      293          4          False
5   230           230      271          2          False
6   229           229      357          4          False
7   228           228      318          3          False
8   227           227       91          1          False
9   226           226      359          1          False
10  225           225       60          2          False
11  224           224      273         -2          False
12  223           223      311         11          False
13  222           222      286         -1          False
14  221           221      271          0          False
15  220           220       86          2          False
16  219           219       92          2          False
17  218           218      278         -3          False
18  217           217       66          0          False
19  216           216       91         10          False
20  215           215       89          1          False
21  214           214       87          3          False
22  213           213       94          2          False
23  212           212       91          2          False
24  211           211      359          4          False
25  210           210      272          0          False
26  209           209      270         -3          False
27  208           208       91          0          False
28  207           207       87         -3           True
29  206           206      273         -1           True
30  205           205      306          2           True
31  204           204       88          4           True
32  203           203       91          2           True
33  202           202      357          3           True
34  201           201       86          1           True
35  200           200        5          0          False
36  199           199      288          0          False
37  198           198      334         -1          False
38  197           197      271          0          False
39  196           196        4          3          False
40  195           195       92          0          False
41  194           194      270          0          False
42  193           193       73          2          False
43  192           192       89          0          False
44  191           191      272         -1          False
45  190           190      272          1          False
46  189           189       89          1          False
47  188           188      317          2          False
48  187           187        3         -3          False
49  186           186      310          0          False
50  185           185       86         -1          False
51  184           184      317         -2          False
52  183           183      358          1          False
53  182           182       61         18          False
54  181           181       91          3          False
55  180           180      271          0          False
56  179           179      269          2          False
57  178           178        3          0          False
58  177           177       91          0          False
59  176           176      359          1          False
60  175           175      358          5          False
61  174           174        3          2          False
62  173           173      271          2          False
63  172           172      357          1           True
64  171           171      359          2           True
65  170           170       89          6           True
66  169           169      270         20           True
67  168           168      271          1           True
68  167           167        1          2           True
69  166           166      272          1           True
70  165           165       40         30           True
71  164           164      339         -1           True
72  163           163      330         20           True
73  162           162       40         20           True
74  161           161       90        -20           True
75  160           160        0          0           True
76  159           159       60          0           True
77  158           158       54          0           True
78  157           157       83          7           True
79  156           156      310         10          False
80  155           155       60          0           True
81  154           154       50         10           True
82  153           153      280          0           True
83  152           152        0          0           True
84  151           151      310         30           True
85  150           150       40         10           True
86  149           149      280          0           True
87  148           148      359         -1          False
88  147           147      359          0          False
89  146           146      270         -3          False
90  145           145      272          1          False
91  144           144       87          0          False
92  143           143       86         -2          False
93  142           142        4          5          False
94  141           141      264         -2          False
95  140           140      355         -2          False
96  139           139      271          2          False
97  138           138        4         -2          False
98  137           137      269          3          False
99  136           136      359          0          False

In [17]:
pd.read_sql('''select * from "Recording" order by group_id asc''',eng)

,file_name,recording_id,group_id,user_num_annotation,group_num_annotation
0,gaussian_rec_26_azimuth_150_elevation_0.wav,26,1,0,0
1,gaussian_rec_21_azimuth_120_elevation_-45.wav,21,1,0,0
2,gaussian_rec_55_azimuth_330_elevation_30.wav,55,1,0,0
3,gaussian_rec_33_azimuth_180_elevation_15.wav,33,1,0,0
4,gaussian_rec_47_azimuth_270_elevation_30.wav,47,1,0,0
5,gaussian_rec_34_azimuth_180_elevation_30.wav,34,1,0,0
6,gaussian_rec_7_azimuth_0_elevation_60.wav,7,1,0,0
7,gaussian_rec_41_azimuth_240_elevation_0.wav,41,2,0,0
8,gaussian_rec_45_azimuth_270_elevation_-15.wav,45,2,0,0
9,gaussian_rec_29_azimuth_180_elevation_-45.wav,29,2,0,0
10,gaussian_rec_46_azimuth_270_elevation_0.wav,46,2,0,0
11,gaussian_rec_1_azimuth_0_elevation_-30.wav,1,2,0,0
12,gaussian_rec_0_azimuth_0_elevation_-45.wav,0,2,0,0
13,gaussian_rec_14_azimuth_60_elevation_-15.wav,14,2,0,0
14,gaussian_rec_19_azimuth_90_elevation_15.wav,19,3,0,0
15,gaussian_rec_30_azimuth_180_elevation_-30.wav,30,3,0,0
16,gaussian_rec_17_azimuth_90_elevation_-30.wav,17,3,0,0
17,gaussian_rec_20_azimuth_90_elevation_45.wav,20,3,0,0
18,gaussian_rec_52_azimuth_330_elevation_-45.wav,52,3,0,0
19,gaussian_rec_37_azimuth_210_elevation_-15.wav,37,3,0,0
20,gaussian_rec_10_azimuth_30_elevation_0.wav,10,3,0,0
21,gaussian_rec_15_azimuth_60_elevation_0.wav,15,4,0,0
22,gaussian_rec_36_azimuth_210_elevation_-45.wav,36,4,0,0
23,gaussian_rec_6_azimuth_0_elevation_45.wav,6,4,0,0
24,gaussian_rec_4_azimuth_0_elevation_15.wav,4,4,0,0
25,gaussian_rec_38_azimuth_210_elevation_0.wav,38,4,0,0
26,gaussian_rec_5_azimuth_0_elevation_30.wav,5,4,0,0
27,gaussian_rec_31_azimuth_180_elevation_-15.wav,31,4,0,0
28,gaussian_rec_23_azimuth_120_elevation_0.wav,23,5,0,0
29,gaussian_rec_43_azimuth_240_elevation_45.wav,43,5,0,0
30,gaussian_rec_51_azimuth_300_elevation_45.wav,51,5,0,0
31,gaussian_rec_16_azimuth_60_elevation_30.wav,16,5,0,0
32,gaussian_rec_28_azimuth_150_elevation_45.wav,28,5,0,0
33,gaussian_rec_8_azimuth_0_elevation_75.wav,8,5,0,0
34,gaussian_rec_12_azimuth_30_elevation_45.wav,12,5,0,0
35,gaussian_rec_13_azimuth_60_elevation_-45.wav,13,6,0,0
36,gaussian_rec_24_azimuth_120_elevation_30.wav,24,6,0,0
37,gaussian_rec_53_azimuth_330_elevation_-15.wav,53,6,0,0
38,gaussian_rec_42_azimuth_240_elevation_15.wav,42,6,0,0
39,gaussian_rec_22_azimuth_120_elevation_-15.wav,22,6,0,0
40,gaussian_rec_54_azimuth_330_elevation_0.wav,54,6,0,0
41,gaussian_rec_32_azimuth_180_elevation_0.wav,32,6,0,0
42,gaussian_rec_49_azimuth_300_elevation_0.wav,49,7,0,0
43,gaussian_rec_9_azimuth_30_elevation_-30.wav,9,7,0,0
44,gaussian_rec_18_azimuth_90_elevation_0.wav,18,7,0,0
45,gaussian_rec_39_azimuth_210_elevation_30.wav,39,7,0,0
46,gaussian_rec_3_azimuth_0_elevation_0.wav,3,7,0,0
47,gaussian_rec_2_azimuth_0_elevation_-15.wav,2,7,0,0
48,gaussian_rec_48_azimuth_300_elevation_-30.wav,48,7,0,0
49,gaussian_rec_27_azimuth_150_elevation_15.wav,27,8,0,0
50,gaussian_rec_25_azimuth_150_elevation_-30.wav,25,8,0,0
51,gaussian_rec_44_azimuth_270_elevation_-45.wav,44,8,0,0
52,gaussian_rec_40_azimuth_240_elevation_-30.wav,40,8,0,0
53,gaussian_rec_35_azimuth_180_elevation_45.wav,35,8,0,0
54,gaussian_rec_11_azimuth_30_elevation_15.wav,11,8,0,0
55,gaussian_rec_50_azimuth_300_elevation_15.wav,50,8,0,0