In [5]:
import pandas as pd
from sqlalchemy import *

db_path = 'postgresql://llmchqfhvdwpop:8f6b6899b24221c36bc979822c407c31bd099e3259c5d4f6682d63d993276d3f@ec2-34-230-167-186.compute-1.amazonaws.com:5432/dcoppvn70vslf9'

eng = create_engine(db_path)

In [8]:
pd.read_sql('''select * from "Survey" order by id desc;''',eng).head(10)

   id                             survey_id
0  10  b77338ab-5ff6-455b-899f-5f38306ff820
1   9  1e5bdd2a-2fdf-4db4-bdc9-0bcf0b95e033
2   8  935c253c-9d6d-4eec-9ee1-13d8966204e6
3   7  612ec5f1-5307-489f-a62c-a96ea0098bc4
4   6  09aef30e-7bd8-4396-ab58-e119f9232c4d
5   5  0ca2c865-4c02-4270-ad88-37b86c6cb57e
6   4  5ad0d237-dd5f-49b5-b902-b114625eef5c
7   3  36e47be8-8334-4f68-a36b-f7fc5e95230a
8   2  ebeb66a3-9d6a-4357-bc5b-86000c31884b
9   1  c636e027-cc78-4bcf-8b09-23972ac6b7a6

In [12]:
pd.read_sql('''select * from "Interaction" order by id desc;''',eng).head(10)

    id annotation_id action_type value               timestamp practice_round
0  694           139      submit  None 2022-02-07 07:43:38.522          False
1  693           139   elevation     2 2022-02-07 07:43:37.723          False
2  692           139     azimuth   271 2022-02-07 07:43:37.043          False
3  691           139  play audio  None 2022-02-07 07:43:35.590          False
4  690           138      submit  None 2022-02-07 07:43:34.955          False
5  689           138   elevation    -2 2022-02-07 07:43:33.858          False
6  688           138     azimuth     4 2022-02-07 07:43:32.973          False
7  687           138  play audio  None 2022-02-07 07:43:31.356          False
8  686           137      submit  None 2022-02-07 07:43:30.721          False
9  685           137   elevation     3 2022-02-07 07:43:30.042          False

In [13]:
pd.read_sql('''select * from "Annotation" order by id desc;''',eng).head(10)

,id,survey_id,recording_id,user_note,practice_round
0,139,b77338ab-5ff6-455b-899f-5f38306ff820,45,,False
1,138,b77338ab-5ff6-455b-899f-5f38306ff820,1,,False
2,137,b77338ab-5ff6-455b-899f-5f38306ff820,45,,False
3,136,b77338ab-5ff6-455b-899f-5f38306ff820,0,,False
4,135,b77338ab-5ff6-455b-899f-5f38306ff820,0,,False
5,134,b77338ab-5ff6-455b-899f-5f38306ff820,45,,False
6,133,b77338ab-5ff6-455b-899f-5f38306ff820,14,,False
7,132,b77338ab-5ff6-455b-899f-5f38306ff820,14,,False
8,131,b77338ab-5ff6-455b-899f-5f38306ff820,29,,False
9,130,b77338ab-5ff6-455b-899f-5f38306ff820,41,,False

In [6]:
pd.read_sql('''select * from "Location" order by id desc;''',eng).head(10)

    id annotation_id  azimuth  elevation practice_round
0  117           117      316         34           True
1  116           116      106          0           True
2  115           115       69          0           True
3  114           114      269          0           True
4  113           113      267          6          False
5  112           112      273          4          False
6  111           111       10          1          False
7  110           110       91         -2          False
8  109           109       21         13          False
9  108           108      273          4          False

In [15]:
pd.read_sql('''select * from "Recording" order by group_id asc''',eng)

,file_name,recording_id,group_id,user_num_annotation,group_num_annotation
0,gaussian_rec_7_azimuth_0_elevation_60.wav,7,1,4,1
1,gaussian_rec_34_azimuth_180_elevation_30.wav,34,1,4,1
2,gaussian_rec_47_azimuth_270_elevation_30.wav,47,1,4,1
3,gaussian_rec_26_azimuth_150_elevation_0.wav,26,1,4,1
4,gaussian_rec_21_azimuth_120_elevation_-45.wav,21,1,4,1
5,gaussian_rec_55_azimuth_330_elevation_30.wav,55,1,4,1
6,gaussian_rec_33_azimuth_180_elevation_15.wav,33,1,4,1
7,gaussian_rec_0_azimuth_0_elevation_-45.wav,0,2,8,1
8,gaussian_rec_45_azimuth_270_elevation_-15.wav,45,2,8,1
9,gaussian_rec_29_azimuth_180_elevation_-45.wav,29,2,8,1
10,gaussian_rec_1_azimuth_0_elevation_-30.wav,1,2,8,1
11,gaussian_rec_46_azimuth_270_elevation_0.wav,46,2,8,1
12,gaussian_rec_41_azimuth_240_elevation_0.wav,41,2,8,1
13,gaussian_rec_14_azimuth_60_elevation_-15.wav,14,2,8,1
14,gaussian_rec_52_azimuth_330_elevation_-45.wav,52,3,0,0
15,gaussian_rec_37_azimuth_210_elevation_-15.wav,37,3,0,0
16,gaussian_rec_10_azimuth_30_elevation_0.wav,10,3,0,0
17,gaussian_rec_30_azimuth_180_elevation_-30.wav,30,3,0,0
18,gaussian_rec_17_azimuth_90_elevation_-30.wav,17,3,0,0
19,gaussian_rec_20_azimuth_90_elevation_45.wav,20,3,0,0
20,gaussian_rec_19_azimuth_90_elevation_15.wav,19,3,0,0
21,gaussian_rec_15_azimuth_60_elevation_0.wav,15,4,0,1
22,gaussian_rec_36_azimuth_210_elevation_-45.wav,36,4,0,1
23,gaussian_rec_5_azimuth_0_elevation_30.wav,5,4,0,1
24,gaussian_rec_6_azimuth_0_elevation_45.wav,6,4,0,1
25,gaussian_rec_4_azimuth_0_elevation_15.wav,4,4,0,1
26,gaussian_rec_38_azimuth_210_elevation_0.wav,38,4,0,1
27,gaussian_rec_31_azimuth_180_elevation_-15.wav,31,4,0,1
28,gaussian_rec_16_azimuth_60_elevation_30.wav,16,5,0,0
29,gaussian_rec_43_azimuth_240_elevation_45.wav,43,5,0,0
30,gaussian_rec_23_azimuth_120_elevation_0.wav,23,5,0,0
31,gaussian_rec_12_azimuth_30_elevation_45.wav,12,5,0,0
32,gaussian_rec_8_azimuth_0_elevation_75.wav,8,5,0,0
33,gaussian_rec_28_azimuth_150_elevation_45.wav,28,5,0,0
34,gaussian_rec_51_azimuth_300_elevation_45.wav,51,5,0,0
35,gaussian_rec_54_azimuth_330_elevation_0.wav,54,6,0,2
36,gaussian_rec_13_azimuth_60_elevation_-45.wav,13,6,0,2
37,gaussian_rec_53_azimuth_330_elevation_-15.wav,53,6,0,2
38,gaussian_rec_42_azimuth_240_elevation_15.wav,42,6,0,2
39,gaussian_rec_22_azimuth_120_elevation_-15.wav,22,6,0,2
40,gaussian_rec_32_azimuth_180_elevation_0.wav,32,6,0,2
41,gaussian_rec_24_azimuth_120_elevation_30.wav,24,6,1,2
42,gaussian_rec_39_azimuth_210_elevation_30.wav,39,7,0,0
43,gaussian_rec_18_azimuth_90_elevation_0.wav,18,7,0,0
44,gaussian_rec_9_azimuth_30_elevation_-30.wav,9,7,0,0
45,gaussian_rec_49_azimuth_300_elevation_0.wav,49,7,0,0
46,gaussian_rec_2_azimuth_0_elevation_-15.wav,2,7,0,0
47,gaussian_rec_3_azimuth_0_elevation_0.wav,3,7,0,0
48,gaussian_rec_48_azimuth_300_elevation_-30.wav,48,7,0,0
49,gaussian_rec_11_azimuth_30_elevation_15.wav,11,8,4,1
50,gaussian_rec_40_azimuth_240_elevation_-30.wav,40,8,4,1
51,gaussian_rec_50_azimuth_300_elevation_15.wav,50,8,4,1
52,gaussian_rec_35_azimuth_180_elevation_45.wav,35,8,4,1
53,gaussian_rec_44_azimuth_270_elevation_-45.wav,44,8,4,1
54,gaussian_rec_25_azimuth_150_elevation_-30.wav,25,8,4,1
55,gaussian_rec_27_azimuth_150_elevation_15.wav,27,8,0,1