In [1]:
import pandas as pd
from sqlalchemy import *

db_path = 'postgresql://llmchqfhvdwpop:8f6b6899b24221c36bc979822c407c31bd099e3259c5d4f6682d63d993276d3f@ec2-34-230-167-186.compute-1.amazonaws.com:5432/dcoppvn70vslf9'
pd.options.display.max_rows = 999

eng = create_engine(db_path)

In [2]:
pd.read_sql('''select * from "Survey" order by id desc;''',eng).head(1)

   id                             survey_id
0  31  b37ff2e6-d093-46a7-99e7-81506a400f3d

In [22]:
pd.read_sql('''select * from "Interaction" order by id desc;''',eng).head(100)

,id,annotation_id,action_type,value,timestamp,practice_round
0,845,158,submit,None,2022-02-07 16:47:34.277,True
1,844,158,elevation,54,2022-02-07 16:47:32.963,True
2,843,158,elevation,0,2022-02-07 16:47:30.748,True
3,842,158,azimuth,89,2022-02-07 16:47:29.713,True
4,841,158,elevation,86,2022-02-07 16:47:26.213,True
5,840,158,elevation,271,2022-02-07 16:47:24.846,True
6,839,158,elevation,0,2022-02-07 16:47:23.196,True
7,838,158,azimuth,90,2022-02-07 16:47:22.463,True
8,837,158,play audio,None,2022-02-07 16:47:20.811,True
9,836,157,submit,None,2022-02-07 16:47:19.344,True
10,835,157,elevation,7,2022-02-07 16:47:18.680,True
11,834,157,azimuth,83,2022-02-07 16:47:15.697,True
12,833,157,elevation,5,2022-02-07 16:47:13.896,True
13,832,157,azimuth,76,2022-02-07 16:47:13.163,True
14,831,157,azimuth,73,2022-02-07 16:47:09.913,True
15,830,157,azimuth,72,2022-02-07 16:47:09.796,True
16,829,157,azimuth,71,2022-02-07 16:47:09.678,True
17,828,157,azimuth,70,2022-02-07 16:47:09.546,True
18,827,157,elevation,12,2022-02-07 16:47:08.929,True
19,826,157,elevation,13,2022-02-07 16:47:08.812,True
20,825,157,elevation,14,2022-02-07 16:47:08.679,True
21,824,157,elevation,15,2022-02-07 16:47:08.563,True
22,823,157,elevation,16,2022-02-07 16:47:08.447,True
23,822,157,elevation,17,2022-02-07 16:47:08.197,True
24,821,157,elevation,18,2022-02-07 16:47:07.184,True
25,820,157,azimuth,69,2022-02-07 16:47:06.256,True
26,819,157,play audio,None,2022-02-07 16:47:03.211,True
27,818,2b0bc3a1-a396-4e93-a21d-c2d668bc781f,play audio,None,2022-02-07 15:47:18.829,False
28,817,156,submit,None,2022-02-07 15:47:15.045,False
29,816,156,azimuth,310,2022-02-07 15:47:13.864,False
30,815,156,elevation,10,2022-02-07 15:47:11.979,False
31,814,156,elevation,None,2022-02-07 15:47:08.765,False
32,813,156,elevation,degrees,2022-02-07 15:47:07.614,False
33,812,156,elevation,17,2022-02-07 15:47:06.330,False
34,811,156,azimuth,309,2022-02-07 15:46:59.237,False
35,810,156,play audio,None,2022-02-07 15:46:56.252,False
36,809,155,submit,None,2022-02-07 15:46:54.136,True
37,808,155,elevation,0,2022-02-07 15:46:53.119,True
38,807,155,elevation,degrees,2022-02-07 15:46:49.372,True
39,806,155,elevation,-1,2022-02-07 15:46:46.403,True
40,805,155,azimuth,60,2022-02-07 15:46:43.804,True
41,804,155,azimuth,61,2022-02-07 15:46:43.237,True
42,803,155,azimuth,62,2022-02-07 15:46:41.937,True
43,802,155,play audio,None,2022-02-07 15:46:39.136,True
44,801,154,submit,None,2022-02-07 15:46:37.969,True
45,800,154,elevation,10,2022-02-07 15:46:36.603,True
46,799,154,elevation,degrees,2022-02-07 15:46:33.338,True
47,798,154,elevation,degrees,2022-02-07 15:46:32.354,True
48,797,154,elevation,degrees,2022-02-07 15:46:28.525,True
49,796,154,elevation,8,2022-02-07 15:46:26.656,True
50,795,154,azimuth,50,2022-02-07 15:46:23.221,True
51,794,154,azimuth,51,2022-02-07 15:46:21.455,True
52,793,154,play audio,None,2022-02-07 15:46:19.588,True
53,792,154,play audio,None,2022-02-07 15:46:14.987,True
54,791,153,submit,None,2022-02-07 15:38:37.780,True
55,790,153,elevation,0,2022-02-07 15:38:34.831,True
56,789,153,elevation,None,2022-02-07 15:38:27.482,True
57,788,153,elevation,degrees,2022-02-07 15:38:26.115,True
58,787,153,elevation,0,2022-02-07 15:38:25.032,True
59,786,153,elevation,None,2022-02-07 15:38:19.915,True
60,785,153,elevation,None,2022-02-07 15:38:19.698,True
61,784,153,elevation,None,2022-02-07 15:38:19.531,True
62,783,153,elevation,None,2022-02-07 15:38:18.998,True
63,782,153,elevation,None,2022-02-07 15:38:18.748,True
64,781,153,elevation,None,2022-02-07 15:38:18.481,True
65,780,153,elevation,None,2022-02-07 15:38:17.465,True
66,779,153,elevation,None,2022-02-07 15:38:17.298,True
67,778,153,elevation,None,2022-02-07 15:38:17.132,True
68,777,153,elevation,degrees,2022-02-07 15:38:15.831,True
69,776,153,elevation,degrees,2022-02-07 15:38:15.681,True
70,775,153,elevation,degrees,2022-02-07 15:38:15.515,True
71,774,153,elevation,degrees,2022-02-07 15:38:15.365,True
72,773,153,elevation,degrees,2022-02-07 15:38:15.165,True
73,772,153,elevation,degrees,2022-02-07 15:38:14.781,True
74,771,153,elevation,degrees,2022-02-07 15:38:13.998,True
75,770,153,azimuth,280,2022-02-07 15:38:12.781,True
76,769,153,azimuth,281,2022-02-07 15:38:12.315,True
77,768,153,azimuth,282,2022-02-07 15:38:10.981,True
78,767,153,azimuth,281,2022-02-07 15:38:09.498,True
79,766,153,elevation,degrees,2022-02-07 15:38:07.198,True
80,765,153,elevation,0,2022-02-07 15:38:05.798,True
81,764,153,elevation,-25,2022-02-07 15:37:59.298,True
82,763,153,elevation,degrees,2022-02-07 15:37:51.331,True
83,762,153,elevation,None,2022-02-07 15:37:26.432,True
84,761,153,elevation,degrees,2022-02-07 15:37:25.699,True
85,760,153,elevation,degrees,2022-02-07 15:37:22.298,True
86,759,153,elevation,-12,2022-02-07 15:37:20.032,True
87,758,153,azimuth,280,2022-02-07 15:37:18.082,True
88,757,153,play audio,None,2022-02-07 15:37:14.847,True
89,756,152,submit,None,2022-02-07 15:37:13.614,True
90,755,152,elevation,0,2022-02-07 15:37:12.732,True
91,754,152,elevation,-1,2022-02-07 15:37:11.215,True
92,753,152,azimuth,0,2022-02-07 15:37:07.948,True
93,752,152,play audio,None,2022-02-07 15:37:05.330,True
94,751,151,submit,None,2022-02-07 15:37:04.097,True
95,750,151,elevation,30,2022-02-07 15:37:02.082,True
96,749,151,azimuth,310,2022-02-07 15:36:58.515,True
97,748,151,play audio,None,2022-02-07 15:36:55.312,True
98,747,150,submit,None,2022-02-07 15:36:54.046,True
99,746,150,elevation,10,2022-02-07 15:36:52.930,True

In [26]:
pd.read_sql('''select * from "Annotation" where survey_id = '4fae67d8-ad25-460e-a764-d5a274bb5b0b' order by id desc ;''',eng).head(100)

,id,survey_id,recording_id,user_note,practice_round
0,158,4fae67d8-ad25-460e-a764-d5a274bb5b0b,35,,True
1,157,4fae67d8-ad25-460e-a764-d5a274bb5b0b,11,,True

In [21]:
pd.read_sql('''select * from "Location" order by id desc;''',eng).head(10)

    id annotation_id  azimuth  elevation practice_round
0  158           158       54          0           True
1  157           157       83          7           True
2  156           156      310         10          False
3  155           155       60          0           True
4  154           154       50         10           True
5  153           153      280          0           True
6  152           152        0          0           True
7  151           151      310         30           True
8  150           150       40         10           True
9  149           149      280          0           True

In [3]:
pd.read_sql('''select * from "Recording" order by group_id asc''',eng)

,file_name,recording_id,group_id,user_num_annotation,group_num_annotation
0,gaussian_rec_7_azimuth_0_elevation_60.wav,7,1,4,1
1,gaussian_rec_34_azimuth_180_elevation_30.wav,34,1,4,1
2,gaussian_rec_47_azimuth_270_elevation_30.wav,47,1,4,1
3,gaussian_rec_26_azimuth_150_elevation_0.wav,26,1,4,1
4,gaussian_rec_21_azimuth_120_elevation_-45.wav,21,1,4,1
5,gaussian_rec_55_azimuth_330_elevation_30.wav,55,1,4,1
6,gaussian_rec_33_azimuth_180_elevation_15.wav,33,1,4,1
7,gaussian_rec_0_azimuth_0_elevation_-45.wav,0,2,8,1
8,gaussian_rec_45_azimuth_270_elevation_-15.wav,45,2,8,1
9,gaussian_rec_29_azimuth_180_elevation_-45.wav,29,2,8,1
10,gaussian_rec_1_azimuth_0_elevation_-30.wav,1,2,8,1
11,gaussian_rec_46_azimuth_270_elevation_0.wav,46,2,8,1
12,gaussian_rec_41_azimuth_240_elevation_0.wav,41,2,8,1
13,gaussian_rec_14_azimuth_60_elevation_-15.wav,14,2,8,1
14,gaussian_rec_52_azimuth_330_elevation_-45.wav,52,3,0,0
15,gaussian_rec_37_azimuth_210_elevation_-15.wav,37,3,0,0
16,gaussian_rec_10_azimuth_30_elevation_0.wav,10,3,0,0
17,gaussian_rec_30_azimuth_180_elevation_-30.wav,30,3,0,0
18,gaussian_rec_17_azimuth_90_elevation_-30.wav,17,3,0,0
19,gaussian_rec_20_azimuth_90_elevation_45.wav,20,3,0,0
20,gaussian_rec_19_azimuth_90_elevation_15.wav,19,3,0,0
21,gaussian_rec_15_azimuth_60_elevation_0.wav,15,4,0,1
22,gaussian_rec_36_azimuth_210_elevation_-45.wav,36,4,0,1
23,gaussian_rec_5_azimuth_0_elevation_30.wav,5,4,0,1
24,gaussian_rec_6_azimuth_0_elevation_45.wav,6,4,0,1
25,gaussian_rec_4_azimuth_0_elevation_15.wav,4,4,0,1
26,gaussian_rec_38_azimuth_210_elevation_0.wav,38,4,0,1
27,gaussian_rec_31_azimuth_180_elevation_-15.wav,31,4,0,1
28,gaussian_rec_16_azimuth_60_elevation_30.wav,16,5,0,0
29,gaussian_rec_43_azimuth_240_elevation_45.wav,43,5,0,0
30,gaussian_rec_23_azimuth_120_elevation_0.wav,23,5,0,0
31,gaussian_rec_12_azimuth_30_elevation_45.wav,12,5,0,0
32,gaussian_rec_8_azimuth_0_elevation_75.wav,8,5,0,0
33,gaussian_rec_28_azimuth_150_elevation_45.wav,28,5,0,0
34,gaussian_rec_51_azimuth_300_elevation_45.wav,51,5,0,0
35,gaussian_rec_54_azimuth_330_elevation_0.wav,54,6,0,2
36,gaussian_rec_13_azimuth_60_elevation_-45.wav,13,6,0,2
37,gaussian_rec_53_azimuth_330_elevation_-15.wav,53,6,0,2
38,gaussian_rec_42_azimuth_240_elevation_15.wav,42,6,0,2
39,gaussian_rec_22_azimuth_120_elevation_-15.wav,22,6,0,2
40,gaussian_rec_32_azimuth_180_elevation_0.wav,32,6,0,2
41,gaussian_rec_24_azimuth_120_elevation_30.wav,24,6,1,2
42,gaussian_rec_39_azimuth_210_elevation_30.wav,39,7,0,0
43,gaussian_rec_18_azimuth_90_elevation_0.wav,18,7,0,0
44,gaussian_rec_9_azimuth_30_elevation_-30.wav,9,7,0,0
45,gaussian_rec_49_azimuth_300_elevation_0.wav,49,7,0,0
46,gaussian_rec_2_azimuth_0_elevation_-15.wav,2,7,0,0
47,gaussian_rec_3_azimuth_0_elevation_0.wav,3,7,0,0
48,gaussian_rec_48_azimuth_300_elevation_-30.wav,48,7,0,0
49,gaussian_rec_11_azimuth_30_elevation_15.wav,11,8,4,1
50,gaussian_rec_40_azimuth_240_elevation_-30.wav,40,8,4,1
51,gaussian_rec_50_azimuth_300_elevation_15.wav,50,8,4,1
52,gaussian_rec_35_azimuth_180_elevation_45.wav,35,8,4,1
53,gaussian_rec_44_azimuth_270_elevation_-45.wav,44,8,4,1
54,gaussian_rec_25_azimuth_150_elevation_-30.wav,25,8,4,1
55,gaussian_rec_27_azimuth_150_elevation_15.wav,27,8,0,1